body {
  font-family: "IBM Plex Serif", serif;
  margin: 0;
  background:
    linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    url(https://images.pexels.com/photos/33033780/pexels-photo-33033780.jpeg)
      center / cover;
}

nav {
  background: linear-gradient(
    0,
    rgb(100, 100, 100) 0%,
    rgba(100, 100, 100, 0) 100%
  );
  padding-top: 64px;
}

h1,
h2,
h3 {
  font-family: Tangerine;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

img {
  width: 360px;
  box-shadow: 0 0 10px black;
  border-radius: 2px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 6px;
}

.button-container button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: larger;
  font-family: inherit;
  flex: 1;
  padding-bottom: 12px;
}

.button-container button:hover {
  cursor: pointer;
  background: linear-gradient(0, black 0%, transparent 100%);
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 10px 15%;
  gap: 60px 32px;

  .head,
  .foot {
    grid-column: span 2;
    text-align: center;
  }

  .head {
    border-bottom: 1px solid lightgray;
    margin-bottom: 36px;
  }

  .foot {
    border-top: 1px solid lightgray;
    margin-top: 36px;
  }
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 + p {
    font-style: italic;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 6px;
  }

  > *:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}
